
body {
    background-color: burlywood;
    color: rgb(233, 129, 43);
}

img, iframe {
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

nav > ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
}

a:link {
    color: brown;
}

a:visited {
    color: sienna;
}

a:hover {
    color: darkred;
}

::-webkit-scrollbar {
    display: none;
}

main {
    padding: 3rem ;
    background-color: rgb(59, 20, 20);
}